/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
  //  padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
    animation: animate-modale 1s;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s; 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border: solid 5px #000000;
    font-family: "Poppins-Regular";
    background-image: url(./img/modale_background.svg);
    background-repeat: no-repeat;
    background-position: top;
}

/* The Close Button 
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
*/


.wpforms-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wpforms-field-large{
    border-radius: 8px !important;
}

.wpforms-field-label{
    font-size: 12px !important;
    margin-bottom: 3px !important;
}

.form__button{
    background-color: #D8D8D8 !important;
    color: #000000 !important;
    font-family: "SpaceMono-Regular" !important;
    font-size: 12px !important;
}

.wpforms-container{
    margin-top: 120px !important;
}

.wpforms-field-container{
    width: 55% !important;
}

.wpforms-submit-container{
    width: 55% !important;
    display: grid !important;
}