.footer{
    border-top: solid 1px black;
    padding-top: 5px;
}

.footer__navigation{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 86px;
    & p {
        text-transform: uppercase;
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        font-family: "SpaceMono-Regular";
    }
}

.footer__navigation__menu{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 86px;
}

.footer__navigation__menu li{
    list-style: none;
}

.footer__navigation__menu li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: "SpaceMono-Regular";
}

.footer__navigation__menu li a:hover{
    font-family: "SpaceMono-Bold";
}