.footer{
    border-top: solid 1px black;
    padding-top: 5px;
    @media (max-width: 520px){
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.footer__navigation{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 86px;
    @media (max-width: 750px){
        gap: 40px;
    }
    & p {
        text-transform: uppercase;
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        font-family: "SpaceMono-Regular";
        @media (max-width: 950px){
            font-size: 12px;
        }
    }
        @media (max-width: 520px){
        height: auto;
        gap: 10px;
        flex-direction: column;
    }
}

.footer__navigation__menu{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 86px;
    @media (max-width: 750px){
        gap: 40px;
    }
    @media (max-width: 520px){
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
}

.footer__navigation__menu li{
    list-style: none;
}

.footer__navigation__menu li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: "SpaceMono-Regular";
    @media (max-width: 950px){
        font-size: 12px;
    }
}

.footer__navigation__menu li a:hover{
    font-family: "SpaceMono-Bold";
}