.article{
    height: 100dvh;
    margin-left: 146px;
    margin-right: 146px;
    &__post{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 78%;
        &__meta{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 23px;
            border-bottom: solid 1px black;

            &__title{
                font-family: "SpaceMono-Italic";
                font-weight: 400;
                text-transform: uppercase;
                font-size: 66px;
                line-height: 1em;
                width: 400px;
                margin-bottom: 10px;
            }
            &__h2{
                font-family: "SpaceMono-Regular";
                font-weight: 400;
                text-transform: uppercase;
                font-size: 14px;
                & a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        &__photo{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            position: relative;      
            align-items: center;     
            .bloc-picto-single{
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.348);
                opacity: 0;
                &:hover{
                    opacity: 1;
                }
                .bloc__image__fullscreen-single{
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin-right: 18px;
                    margin-top: 11px;
                }
            }
                    .attachment-post-thumbnail{
                        object-fit: contain;
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                          
                    }
            }
                
        }
        
    &__bandeau{
        height: 118px;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px black;
        width: 100%;
        &__contact{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            & p{
                font-family: "Poppins-Regular";
                font-weight: 300;
                font-size: 14px;
                .myBtn-contact-single{
                    border: none;
                    border-radius: 2px;
                    width: 272px;
                    height: 50px;
                    padding: 0px;
                    font-size: 12px;
                    font-family: "SpaceMono-Regular";
                    font-weight: 400;
                    transition: background-color 1s;
                    &:hover{
                        background-color: black;
                        color: white;
                    }
                }
            }

        }
        &__nav{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 81px;
                &__thumbnail-container{
                    & img{
                    height: 71px;
                    width: 81px;
                    object-fit: cover;
                    }
                    .photo-suivante{
                        display: none;
                    }
                    .photo-precedente{
                        display: none;
                    }
                }
                &__arrow{
                    display: flex;
                    justify-content: space-between;
                    & img {
                        display: block;
                    }
                }

        }
    }
}

.photo-apparentees{
    margin-left: 146px;
    margin-right: 146px;
    margin-top: -35px;
    &__titre{
        font-family: "SpaceMono-Regular";
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 52px;
    }
    &__bloc{
        display: flex;
        flex-direction: column;
    }
}

.home-btn{
    margin: auto;
}